@font-face {
  font-family: Oswald;
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: Soloist;
  src: url("../fonts/Soloist/Soloist-Z6M8.otf");
}

#title{
  font-family: Soloist;
  text-align: center;
}

#title-regular-font{
  font-family: Oswald;
  text-align: center;
}

#access-checkbox{
  clear:left;
}